# Core functionality - changes here should be rare!
/src/app.py                   @Tekcoder
/src/backend/database.py      @Tekcoder
/src/backend/routers/auth.py  @Tekcoder

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Tekcoder
